
body {
  padding:0;
  margin:0;
  font-family:'Lato', "Helvetica Neue", sans-serif;
  color:#333;
  background:#fff;
}

a:link,
a:visited {
  border-bottom:1px solid #c55500;
  text-decoration:none;
  color:#c55500;
}

a:visited {
  border-bottom:1px solid #730800;
  color:#730800;
}

a:hover,
a:focus,
a:active {
  border:0;
  color:#fff;
  background:#c55500;
}

a:visited:hover,
a:visited:focus,
a:visited:active {
  color:#fff;
  background:#730800;
}

#container {
  width:300px;
  padding:0 0 10px;
  margin:10px;
}

p {
  margin:1em 0;
}


blockquote {
  margin:1em 0;
}

blockquote p {
  margin:0;
  font-size:1em;
}

.follow {
  clear:both;
  margin-top:2em;
  font-size:1.125em;
}

.follow span {
  font-weight:bold;
}


/*
 Should you want to set a background colour on a containing element
 certain types of bubble effect may require you to include these
 style declarations.
 */
.content {
  position:relative;
  z-index:1;
}


/* ============================================================================================================================
== RECTANGLE-BORDER STYLE WITH CURVE
** ============================================================================================================================ */

.rectangle-speech-border {
  position:relative;
  padding:50px 15px;
  margin:1em 0 3em;
  border:3px solid #000000;
  text-align:center;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
}

/* creates larger curve */
.rectangle-speech-border:before {
  content:"";
  position:absolute;
  z-index:10;
  bottom:-40px;
  left:130px;
  width:50px;
  height:35px;
  border-style:solid;
  border-width:0 3px 3px 0;
  border-color:#000000;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-right-radius:80px 50px;
  -moz-border-radius-bottomright:80px 50px;
  border-bottom-right-radius:80px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates smaller curve */
.rectangle-speech-border:after {
  content:"";
  position:absolute;
  z-index:10;
  bottom:-40px;
  left:130px;
  width:20px;
  height:35px;
  border-style:solid;
  border-width:0 3px 3px 0;
  border-color:#000000;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-right-radius:40px 50px;
  -moz-border-radius-bottomright:40px 50px;
  border-bottom-right-radius:40px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.rectangle-speech-border > :first-child:before {
  content:"";
  position:absolute;
  bottom:-40px;
  left:128px;
  width:3px;
  height:3px;
  background:#000000;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.rectangle-speech-border > :first-child:after {
  content:"";
  position:absolute;
  bottom:-10px;
  left:153px;
  width:27px;
  height:15px;
  background:#fff;
}
/* adds man image*/
.rectangle-speech-border >  {
  content:"image1";
  position:absolute;
  bottom:500px;
  left:0px;
  width:100px;
  height:100px;
  background:#fff;
}
